<p id="notice"><%= notice %></p>

<p>
<strong><%= Comment.human_attribute_name('content') %>:</strong>
  <%= @comment.content %>
</p>
<% if @comment.commentable_type == "Book" %>
  <%= link_to t('views.common.back'), book_path(@comment.commentable_id) %>
<% else %>
  <%= link_to t('views.common.back'), report_path(@comment.commentable_id) %>
<% end %>
