<h1><%= t('views.common.title_followers_index', name: User.model_name.human) %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= User.human_attribute_name(:avatar) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |user| %>
      <tr>
        <th></th>
        <th>
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar.variant(resize_to_fill: [30, 30]) %>
          <% end %>
        </th>
        <td><%= user.name %></td>
        <td><%= link_to t('views.common.show'), user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
