<h1>Users#show</h1>

<p>
  <strong>id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>ニックネーム:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>住所:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>自己紹介:</strong>
  <%= @user.introduce %>
</p>

<%= link_to "ユーザー一覧へ戻る", users_path %>
<% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_registration_path(id: current_user.id) %>
<% end %>
