<p id="notice"><%= notice %></p>

<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= @report.body %>
</p>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:contributer) %></th>
      <th><%= Comment.human_attribute_name(:content) %></th>
      <th><%= Comment.human_attribute_name(:posted_date_and_time) %></th>
    </tr>
  </thead>
  <h2><%= Comment.human_attribute_name(:index_of_comments) %></h2>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <% if comment.user.name %>
          <td><%= comment.user.name %></td>
        <% else %>
          <td><%= comment.user.email %></td>
        <% end %>
        <td><%= comment.content %></td>
        <td><%= comment.created_at.strftime("%Y年%-m月%-d日%H時%M分") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'comments/form', comment: @report.comments.build, book: @report %>

<% if @report.user_id == current_user.id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
